name: gitingest-app
channels:
  - defaults
  - conda-forge
dependencies:
  - python=3.11
  - pip
  - pip:
      - customtkinter>=5.2.0
      - gitingest
      - pyinstaller>=6.0.0
      - Pillow # ADD THIS